*{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
}
.title{
    font-size: 25px;
    color: #4263EB;
    text-align: center;
    margin-top: 20px;
}
.amount{
    width: 504px;
    height: 146px;
    background: #F5F7FE;
    border: 1px solid #E4E4E6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amount__total{
    width: 279px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount__plus, .amount__minus{
    font-size: 40px;
    color: #4263EB;
    cursor: pointer;
    font-weight: 400;
}

.amount__plus:hover, .amount__minus:hover{
    color: #758be0;
}

.amount__title{
    font-size: 16px;
    text-align: center;
    color: rgba(12, 32, 115, 0.5);
}
.amount__currency{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    color: rgba(12, 32, 115, 0.5);
}
.amount__number{
    font-size: 40px;
    color: #000000;
    width: 200px;
    text-align: center;
    background: #F5F7FE;
    border: none;
}


.choice__switch{
    width: 504px;
    height: 68px;
    background: #FFFFFF;
    border: 1px solid #A2A0A8;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice__title{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #4263EB;
    margin-top: 20px;
}
.choice__item_title{
    font-weight: 800;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.55);
}
.choice__item_info{
    font-weight: 500;
    font-size: 12px;
    color: #A2A0A8;
}
.choice__switch_item{
    top: -15px;
    left: -20px;
}
.active.choice__switch{
    border: 1px solid #4263EB;
}
.active .choice__item_title{
    color: #15141F;
}
.active .choice__item_info{
    color: #77767B;
}

.choice__switch_item::before{
    width: 40px !important;
    height: 24px !important;
    border-radius: 40px !important;
}
.choice__switch_item::after{
    width: 20px !important;
    height: 20px !important;
    border-radius: 100% !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after{
    width: 20px !important;
    height: 20px !important;
    border-radius: 100% !important;
    transform: translateX(1rem) !important;
}

.footer{
    width: 504px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.btn{
    width: 120px;
    height: 56px;
    background: #4263EB;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
.btn:hover{
    background-color: white;
    color: black;
    border-color: #4263EB;
}

.take__number_upper{
    font-weight: 500;
    font-size: 12px;
    color: #77767B;
}
.take__number{
    font-weight: 500;
    font-size: 17px;
    color: #000000;
}
.hide{
    display: none;
}

@media (max-width: 550px) {
    .container{
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 20px;
    }
    .choice__switch{
        width: 327px;
    }
    .title{
        color: white;
        text-align: center;
        margin-top: 20px;
    }
    .footer{
        width: 327px;
    }

    body{
        background-color: #4962E3;
    }
}
